header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}


/* ########### CTA ##############*/

.cta {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


/* ########### Header SOCIALS ##############*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0.5rem;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* ########### ME ##############*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: -2rem;
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;
}


/* ########### SCROLL DOWN ##############*/

.scroll__down {
    position: absolute;
    right: -1.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* ################## MEDIA QUEIRES ( MEDIUM DEVICES ) ###########*/

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}


/* ################## MEDIA QUEIRES ( SMALL DEVICES ) ###########*/

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header__socials,
    .scroll_down {
        display: none;
    }
}